<section class="section">
  <div class="container">



    <div class="column is-6 is-offset-3">
      <!-- START ARTICLE -->
      <div class="card article">

        <div class="card-content">


          <h2 class="title"> <b>Create Lawyer profile</b></h2>

          <%= render 'form', lawyer_profile: @lawyer_profile %>

          
        </div>
      </div>
    </div>
  </div>
</section>
