<section class="section">
  <div class="container">



    <div class="column is-6 is-offset-3">
      <!-- START ARTICLE -->
      <div class="card article">

        <div class="card-content">


          <h2 class="title"> <b>Sign Up</b></h2>

          <%= simple_form_for([@user, @user.lawyer.build]) do |f| %>



          <% end %>



        </div>
      </div>
    </div>
  </div>
</section>
