<section id="newsletter" class="section is-medium">
   <div class="container">
     <div class="columns">
       <div class="column is-4 is-offset-2">
         <p class="title">My Directory Profile</p>
         <p class="subtitle is-4 has-text-grey-light">You have no Lawyer Directory profile.</p>
       </div>

       <div class="column is-6 is-offset-2">

           <div class="field is-grouped">


             <div class="control">

               <button class="button is-medium is-primary">
                 <strong>Create Profile</strong>
               </button>
             </div>
           </div>

       </div>
     </div>
   </div>

<br/><br/>
   <div class="container">
     <div class="columns">
       <div class="column is-4 is-offset-2">
         <p class="title">My Newsletters</p>
         <p class="subtitle is-4 has-text-grey-light">You don't currently have any newsletter subscriptions.</p>
       </div>

       <div class="column is-6 is-offset-2">

           <div class="field is-grouped">


             <div class="control">

               <button class="button is-medium is-primary">
                 <strong>Subscribe to Newsletters</strong>
               </button>
             </div>
           </div>

       </div>
     </div>
   </div>


   <br/><br/>
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-2">
            <p class="title">User Account Info</p>
            <p class="subtitle is-4 has-text-grey-light">You don't currently have any newsletter subscriptions.</p>
          </div>

          <div class="column is-6 is-offset-2">
            <div class="column">
                <p class="subtitle is-4 has-text-grey-light">Lekus07@yahoo.com <br/> <a>Change Email</a></p>
            </div>

            <div class="column">
                <p class="subtitle is-4 has-text-grey-light"></p>
            </div>


            <div class="column">
                <p class="subtitle is-4 has-text-grey-light"> **** <br/> <a>Change password</a></p>
            </div>

            <div class="column">
                <p class="subtitle is-4 has-text-grey-light"></p>
            </div>

          </div>
        </div>
      </div>


      <br/><br/>
         <div class="container">
           <div class="columns">
             <div class="column is-4 is-offset-2">
               <p class="title">Cancel your account</p>
               <p class="subtitle is-4 has-text-grey-light">We would hate to see you go</p>
             </div>

             <div class="column is-6 is-offset-2">

                 <div class="field is-grouped">


                   <div class="control">

                      <%= link_to "Cancel my account", registration_path(resource_name), class:"button is-medium is-danger", data: { confirm: "Are you sure?" }, method: :delete %>
                    
                   </div>
                 </div>

             </div>
           </div>
         </div>


   </section>
