<section class="hero is-primary is-medium">

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
      Research legal advice
      </h1>
      <h2 class="subtitle">
        Read articles, advice from lawyers, and questions and answers by topic.
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->

</section>
  <section class="section">
    <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile" >
      <div class="tile is-parent is-vertical" >
        <article class="tile is-child notification is-primary artimg" style="background-image: url('https://res.cloudinary.com/moversng/image/upload/v1597106665/injury-todojustice_rjiifb.png')" >
          <p class="title">Personal Injury</p>
          <p>Car Accidents</p>
          <p>Medical Malpractice</p>
          <p>Dangerous or Defective Products</p>
          <p>Types of injuries</p>
          <p>View all</p>

        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Immigration</p>
          <p>Nigerian Work visas</p>
          <p>Citizenship</p>
          <p>Business Immigration</p>
          <p>Deportation and Removal</p>
          <p>View all</p>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Employment & Labour</p>
          <p>Discrimination & Harassment</p>
          <p>Overtime & Wages</p>
          <p>Hiring & Contracts</p>
          <p>Employee Benefits</p>
          <p>Worker's Compensation</p>
          <p>View all</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Business Research</p>
          <p>Formation</p>
          <p>Contacts</p>
          <p>View all</p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">

      <div class="container">
  <div class="notification has-text-centered">
<div class="content">
  <h2 class="subtitle">
  Experts, Ready to help
  </h2>

  <div class="buttons center">
  <%= link_to "Ask a Question", "/discussions/new", class:"button is-medium  is-primary" %>

  <button class="button is-medium is-danger">Lawyers -Get Listed Now!</button>
  </div>
</div>
<br/>

  </div>
</div>

    </div>
  </div>
  <div class="tile is-parent is-vertical">
    <article class="tile is-child notification is-success">

        <p class="title">Intellectual Property</p>
        <p>Patents</p>
        <p>Copyrights</p>
        <p>Trademarks</p>
        <p>Trade Secrets</p>
        <p>View all</p>

    </article>
    <article class="tile is-child notification is-warning">
      <p class="title">Family </p>
      <p>Divorce</p>
      <p>Child Custody</p>
      <p>Support</p>
      <p>Adoption</p>
      <p>View all</p>
    </article>


    <article class="tile is-child notification is-warning">
      <p class="title">Estate & Probate Law </p>
      <p>Preparing a will</p>
      <p>Creating a trust</p>
      <p>Executing a will</p>

      <p>View all</p>
    </article>


  </div>
</div>
  </section>

  <section id="newsletter" class="section is-medium">
<div class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <p class="title">Newsletter</p>
      <p class="subtitle is-4 has-text-grey-light">Features, releases, showcase… stay in the loop!</p>
    </div>

    <div class="column">

        <div class="field is-grouped">
          <div class="control is-expanded">
            <input type="email" value="" name="email" class="input is-medium is-flat" placeholder="email address" required="">
          </div>

          <div class="control">

            <button class="button is-medium is-link">
              <strong>Subscribe</strong>
            </button>
          </div>
        </div>

    </div>
  </div>
</div>
</section>
